---
- name: allow required calico ports to firewalld
  firewalld:
    port: 179/tcp
    permanent: true
    immediate: yes
    state: enabled
  failed_when: false

- when: ansible_hostname == groups['ansible_master'][0]
  block:
  - name: download calico yaml file
    get_url:
      url: https://docs.projectcalico.org/v{{ version['calico'] }}/manifests/calico.yaml
      dest: "{{ local['home'] }}/downloads/cni/calico_v{{ version['calico'] }}.yaml"
      owner: "{{ local['user'] }}"
      group: "{{ local['user'] }}"
      mode: 0644

  - name: set pod subnet in calico yaml file
    replace:
      dest: "{{ local['home'] }}/downloads/cni/calico_v{{ version['calico'] }}.yaml"
      regexp: "{{ item['regexp'] }}"
      replace: "{{ item['replace'] }}"
    with_items:
      - { regexp: "# - name: CALICO_IPV4POOL_CIDR", replace: "- name: CALICO_IPV4POOL_CIDR" }
      - { regexp: "#   value: \"192.168.0.0/16\"", replace: "  value: \"{{ pod_subnet }}\"" }

  - name: check calico nework plugin already exists
    shell: kubectl --kubeconfig=/etc/kubernetes/admin.conf get pods -n kube-system | grep calico
    register: result
    failed_when: false

  - name: install calico network plugin
    when: result.stdout_lines | length == 0
    shell: kubectl --kubeconfig=/etc/kubernetes/admin.conf create -f {{ local['home'] }}/downloads/cni/calico_v{{ version['calico'] }}.yaml
    failed_when: false

  - name: set interface in calico daemonset
    async: 10
    poll: 0
    shell: kubectl --kubeconfig=/etc/kubernetes/admin.conf set env daemonset/calico-node -n kube-system IP_AUTODETECTION_METHOD=interface={{ iface }}
    failed_when: false