---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: registry-pv
spec:
  capacity:
    storage: {{ registry['volume']['capacity'] }}
  accessModes:
{% for item in registry['volume']['accessModes'] %}
    - {{ item }}
{% endfor %}
  storageClassName: {{ registry['volume']['storageClassName'] }}
  hostPath:
    path: {{ registry['volume']['path'] }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: registry-pvc
  namespace: registry
spec:
  accessModes:
{% for item in registry['volume']['accessModes'] %}
    - {{ item }}
{% endfor %}
  resources:
    requests:
      storage: {{ registry['volume']['capacity'] }}
  storageClassName: {{ registry['volume']['storageClassName'] }}