---
apiVersion: v1
kind: Namespace
metadata:
  name: jenkins
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins-pv
spec:
  capacity:
    storage: {{ jenkins['volume']['capacity'] }}
  accessModes:
{% for item in jenkins['volume']['accessModes'] %}
  - {{ item }}
{% endfor %}
  storageClassName: {{ jenkins['volume']['storageClassName'] }}
  hostPath:
    path: {{ jenkins['volume']['path'] }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-pvc
  namespace: jenkins
spec:
  accessModes:
{% for item in jenkins['volume']['accessModes'] %}
  - {{ item }}
{% endfor %}
  resources:
    requests:
      storage: {{ jenkins['volume']['capacity'] }}
  storageClassName: {{ jenkins['volume']['storageClassName'] }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  namespace: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      nodeName: {{ groups['ansible_master'][0] }}
      securityContext:
        fsGroup: 1000
        runAsUser: 0
      containers:
      - name: jenkins
        image: jenkins/jenkins:{{ version['jenkins'] }}
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: jenkins-home
          mountPath: /var/jenkins_home
      volumes:
      - name: jenkins-home
        persistentVolumeClaim:
          claimName: jenkins-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: jenkins
spec:
  type: {{ jenkins['service_type'] }}
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: jenkins